streamlit==1.31.0
langchain-groq==0.2.0
transformers==4.44.2
torch==2.4.1
pillow==10.4.0
python-dotenv==1.0.1
matplotlib==3.9.2
fpdf==1.7.2
timm==1.0.9
gTTS==2.5.3
deep-translator==1.11.4
pytesseract==0.3.13
requests==2.32.3
playwright==1.47.0
